@use "variables" as vars;

.process{
    &__toptext{
        display: flex;
        align-items: center;
    }

    &__toptext-desc{
        margin-left: 40px;
        max-width: 292px;
        font-family: 'Space Grotesk';
        font-weight: vars.$weight-regular;
        font-size: vars.$size-p;
    }


    &__faq{
      margin-top: 80px;
    }

    &__faq-items{
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__faq-item{
      cursor: pointer;
      width: 1234px;
      height: 159px;
      padding: 41px 60px;
      border: 1px solid #191A23;
      box-shadow: 0px 5px 0px #191A23;
      border-radius: 45px;
      margin-bottom: 30px;
    }

}

.open-item{
  background: #B9FF66;
  min-height: 279px;
  transition: all ease 1s;
}

.open-item .faq__item-line{
  display: block;
}

.open-item .faq__item-desc{
  display: block;
}

.faq__item-top{
  display: flex;
  align-items: center;
}

.item__top-number{
  font-family: 'Space Grotesk';
  font-size: 60px;
  font-weight: vars.$weight-medium;
  color: vars.$color-black;
}

.item__top-title{
  margin-left: 25px;
  font-family: 'Space Grotesk';
  font-weight: vars.$weight-medium;
  color: vars.$color-black;
}

.item__top-icon1{
  margin-left: auto;
}

.item__top-icon2{
  margin-left: auto;
  display: none;
}

.open-item .item__top-icon2{
  display: block;
}

.open-item .item__top-icon1{
  display: none;
}

.faq__item-line{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 1114px;
  height: 0px;
  border: 1px solid black;
  display: none;
}

.faq__item-desc{
  font-family: 'Space Grotesk';
  font-weight: vars.$weight-regular;
  font-size: 18px;
  color: #000000;
  display: none;
}


.heading {
    span {
      display: inline-block;
      border-radius: 0.7rem;
      padding: 0 0.7rem;
    }
  
    &_bg {
      &_white {
        span {
          background-color: vars.$color-white;
        }
      }
  
      &_green {
        span {
          background-color: vars.$color-green;
        }
      }
  
      &_black {
        span {
          background-color: vars.$color-black;
          color: vars.$color-white;
        }
      }
    }
  }
  

  