@use "variables" as vars;

.studies{
    &__toptext{
        display: flex;
        align-items: center;
    }
    &__toptext-desc{
        margin-left: 40px;
        width: 580px;
        height: 46px;
        font-family: 'Space Grotesk';
        font-weight: vars.$weight-regular;
        font-size: vars.$size-p;
        line-height: 23px;
    }

    &__items{
        margin-top: 80px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 326px;
        background: #191A23;
        border-radius: 45px;
    }

    &__item{
        padding: 4.375rem 3.75rem 5.8125rem 3.75rem;
        &-desc{
            min-width: 286px;
            margin-bottom: 20px;
            font-weight: vars.$weight-regular;
            font-size: vars.$size-p;
            color: #FFFFFF;
        }

        &-link{
            color: vars.$color-green;
            font-family: vars.$font-family;
            font-weight: vars.$weight-regular;
            font-size: vars.$size-p;
        }


    }

}

.heading {
    span {
      display: inline-block;
      border-radius: 0.7rem;
      padding: 0 0.7rem;
    }
  
    &_bg {
      &_white {
        span {
          background-color: vars.$color-white;
        }
      }
  
      &_green {
        span {
          background-color: vars.$color-green;
        }
      }
  
      &_black {
        span {
          background-color: vars.$color-black;
          color: vars.$color-white;
        }
      }
    }
  }
  

  